.Panel{
    font-family: Georgia, Times, serif;
    position: absolute;
    left: 950px;
    top: 5px;
}

.Panel-Title{
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #cee5b3;
    text-shadow: 3px 2px grey;
    letter-spacing: 8px;
    text-indent: 140px;
}

.Panel-button{
    background-color: white;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 15px;
    width: 100px;
    margin: 10px;
    text-align: center;
}

.Panel-button:hover {
    box-shadow: 0 12px 16px 0 grey, 0 17px 50px 0 grey;
  }

.Panel-Box{
    width: 120%;
    margin: 16px auto;
    border: 2px solid #cee5b3;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.Panel-Instruction{
    width: 120%;
    margin: 16px auto;
    border: 2px solid #cee5b3;
    font-size: 16px;
    padding: 20px;
    text-align: left;
    text-indent: 50px;
}

.Panel-Centered{
    text-align: center;
    text-indent: 0px;
}